body {
    background-image: url(../images/j.JPG); /* Replace with your image URL */
    background-size: cover; /* Ensure the image covers the entire background */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    height: 100vh; /* Full viewport height */
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
}
h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: darkred;
}

.button-container {
  background-color: #2b2b2b; 
  padding: 17px;
  display: flex;
  justify-content: center; 
  gap: 30px; 
}

.button-container a {
  background-color: #000; 
  color: #fff; 
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  text-decoration:none;
}

.button-container a:hover {
  background-color: #444; 
}

